body {
    font-family: Arial, sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./assets/wallpaper3.jpg")
    no-repeat center center/cover;
}

.login-box {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  border-radius: 20px;
  padding: 40px 50px;
  width: 300px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: grid;
}

.login-box h2 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 30px;
}

.login-box input {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
}

.login-box input::placeholder {
  color: #eee;
}

.login-btn {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 80px;
  background-color: #e63946;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #fff;
  color: black;
  transform: scale(1.05);
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.85rem;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.or-text {
  margin-top: 20px;
  font-size: 0.9rem;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-login button {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 15px;
  border-radius: 100%;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.social-login button:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.2);
}
